################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ElectroneumSpace/v15
/ElectroneumSpace/ElectroneumSpace/bin/Debug/netstandard2.0
/ElectroneumSpace/ElectroneumSpace/obj
/ElectroneumSpace/ElectroneumSpace.Android/obj
/ElectroneumSpace/ElectroneumSpace.iOS/obj
/ElectroneumSpace/ElectroneumSpace.UWP/bin/x86/Debug
/ElectroneumSpace/ElectroneumSpace.UWP/obj
/ElectroneumSpace/ElectroneumSpace.Android/bin/Debug
/ElectroneumSpace/ElectroneumSpace.iOS/bin/iPhoneSimulator/Debug
/ElectroneumSpace/ElectroneumSpace.UWP/bin/x64/Debug
